<header>
    <h1>Wahl Umfrage</h1>
    <p class="sub-title">Stimmen Sie für den von Ihnen bevorzugten Kandidaten ab!</p>
    <div class="btn-container">
        <!-- check if the user is logged in -->
        <button (click)="onAuthButtonClick(currentUser)">
            {{ currentUser ? 'Abmelden' : 'Anmelden' }}
        </button>
    </div>
</header>

<!-- Dialog-Komponente -->
<article *ngIf="showLogin()">
    <app-dialog 
    (loginEvent)="onLogin($event)" 
    (closeDialog)="showLogin.set(false)">
    </app-dialog>
</article>
