<footer class="bg-gray-900 text-white py-12 text-center flex flex-col md:flex-row items-center justify-between px-16">
    <nav class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
      <a 
        routerLink="/impressum" 
        class="text-gray-300 hover:text-yellow-300 no-underline transition">
        Impressum
      </a>
      <a 
        routerLink="/datenschutz" 
        class="text-gray-300 hover:text-yellow-300 no-underline transition">
        Datenschutz
      </a>
    </nav>
    <p class="text-sm text-gray-400 mt-2 md:mt-0">© Steffen Schanze 2025</p>
  </footer>
  