.bg-clr-white-gray {
    background-color: var(--clr-white-gray);
  }
  
  .shadow-clr-lightgray {
    box-shadow: 3px 3px 5px 3px var(--clr-lightgray);
  }
  
  .bg-clr-lightgray {
    background-color: var(--clr-lightgray);
  }
  