<div class="dialog-backdrop">
  <div class="dialog">
    <h2>{{ isRegisterMode() ? 'Registrieren' : 'Anmelden' }}</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="email">E-Mail:</label>
      <input id="email" [(ngModel)]="email" name="email" required type="email" />

      <label for="password">Passwort:</label>
      <input id="password" [(ngModel)]="password" name="password" required type="password" />
      <p class="password-rules" *ngIf="isRegisterMode()">
        Das Passwort muss mindestens 6 Zeichen lang sein, eine Zahl, einen Groß- und einen Kleinbuchstaben enthalten.
      </p>      

      <div class="button-group">
        <button type="submit">{{ isRegisterMode() ? 'Registrieren' : 'Anmelden' }}</button>
        <button *ngIf="!isRegisterMode()" type="button" (click)="toggleMode()">Zum Registrieren</button>
      </div>
    </form>
    <button class="close" (click)="close()">Schließen</button>
  </div>
</div>

<!-- Popup for successful registration -->
<div class="popup" *ngIf="showSuccessMessage()">
  <p>Registrierung erfolgreich! Bitte melden Sie sich an.</p>
  <p class="ok" (click)="closePopup()">OK</p>
</div>

<!-- Popup for error messages -->
<div class="popup" *ngIf="errorMessage()">
  <p class="error">{{ errorMessage() }}</p>
  <p class="ok" (click)="closePopup()">OK</p>
</div>
