.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Höher als alles andere auf der Seite */
}

.dialog {
  background: var(--clr-white);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  z-index: 1001; /* Höher als .dialog-backdrop */
}
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .close {
    background: transparent;
    border: none;
    color: var(--clr-red);
    cursor: pointer;
    font-size: 1.2rem;
  }
  