.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
}

.dialog {
  background: var(--clr-white);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  z-index: 2; 
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

.password-rules {
  font-size: .7rem;
}
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-block: 1.5rem;
  }

  .button-group button {
    background: var(--clr-lightgray);
    font-weight: bold;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    border: none;
  }
  
  .close {
    background: var(--clr-red);
    border: none;
    border-radius: .25rem;
    padding: .25rem .75rem;
    color: var(--clr-white);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ok {
    margin-top: 10px;
    padding: 5px 10px;
    background: var(--clr-lightgray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
  }
  