.bg-black {
  background-color: var(--clr-black);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-red-500 {
  background-color: var(--clr-red);
}

.bg-gray-300 {
  background-color: var(--clr-lightgray);
}

.ok:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.close:hover {
  opacity: .5;
}
