main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-bottom: 1rem;
}

.card-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block: 1rem;
    justify-content: center;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background: var(--clr-lightgray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.vote-message {
    text-align: center;
}

@media (min-width: 570px) { 
    .card-container {
        padding-top: 3.7rem;
    } 
}

@media (min-width: 930px) { 
    .card-container {
        padding-top: 0;
        align-items: center;
    } 
}